#content {
    display: grid;
    gap: 10px;
    grid-template-columns: 150px repeat(4,1fr);
    grid-template-rows: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    padding-left: 10px;
}

header {
    display: flex;
    background-color: #f08c00;
    grid-column: 1/6;
    border: #000000 2px solid;

}

header img{
    float: left;
    height: 80px;
    margin: 10px;
}

nav h4 {
    margin-top: 18px;
    padding-left: 5px;
    line-height: 0;
}


nav {
    background-color: #f08c00;
    font-size: 1.2em;
    min-height: 150px;
    width: 150px;
    grid-column: 1/2;
    grid-row: 2/4;
}

nav a {
    text-decoration: none;
    color: #000000;
}

nav > a:hover {
    background-color: #ebd278;
    border: 2px solid #b94b0a;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 45px;
}

.brave {
    background-image: url(../images/cat.jpg);
    background-size: cover;
    grid-column: 2/2;
    border: 10px solid #f08c00;
}

.brave:hover {
    border-color: #ebd278;
}

.intelligent {
    background-image: url(../images/light.jpg);
    background-size: cover;
    grid-column: 3/4;
    border: 10px solid #f08c00;
}

.intelligent:hover{
    border-color: #e10069;
}

.fair{
    background-image: url(../images/judge.jpg);
    background-size: cover;
    grid-column: 4/5;
    border: 10px solid #f08c00;
}

.fair:hover {
    border-color: #00afd7;
}

.responsible{
    background-image: url(../images/eco.jpg);
    background-size: cover;
    grid-column: 5/6;
    border: 10px solid #f08c00;
}
.responsible:hover {
    border-color: #2daa37;

}

.brave, .intelligent, .fair, .responsible {
    color: #ffff;
    height: 200px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 30px;
    text-decoration: none;
    text-align: right;
    padding-right: 10px;

}

article {
    grid-column: 2/6;
    padding-bottom: 15px;
}

article p {
    text-align: justify;
    padding: 0px 15px 0px 15px;
}

article a {
    text-align: justify;
    padding: 0px 15px 0px 15px;
}

footer {
    display: flex;
    background-color: #f08c00;
    grid-column: 1 / 6;
    grid-row: 4 / 5;
    padding: 5px;
    align-items: center;
}

footer div {
    flex-grow: 5;
    text-align: right;
}

footer img {
    height: 80px;
    margin: 10px;
}

header, nav, article, footer{
    border: 2px #000000;
    border-radius: 5px;
}

table th, td{
    text-align: left;
}

@media screen and (max-width: 768px) {
    
    nav{
        grid-row: 2/7;
    }

    .brave, .intelligent, .fair, .responsible{
        background-image: none;
        background-color: #ebd278;
        border: 2px solid #000000;
        color: #000000;
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        grid-column: 2/6;
        height: fit-content;
    }

    .brave {
        grid-row: 2/2;
    }

    .brave:hover {
        background-color: #F08C00;
        border-color: #F08C00;
    }

    .intelligent{
        grid-row: 3/3;
    }

    .intelligent:hover {
        background-color: #F08C00;
        border-color: #E10069;
    }

    .fair{
        grid-row: 4/4;
    }

    .fair:hover{
        background-color: #F08C00;
        border-color: #00AFD7;
    }

    .responsible{
        grid-row: 5/5;
    }

    .responsible:hover{
        background-color: #F08C00;
        border-color: #2DAA37;
    }

    footer {
        grid-row: 7/7;
    }

    footer img{
        display: none;
    }

}

@media screen and (max-width: 576px) {
    
    nav {
        display: none;
    
    }

    .brave, .intelligent, .fair, .responsible, .article{
        grid-column: 1/6;
    }
    article {
        grid-column: 1/6;

    }
}